body{    
    margin: 0px; /*remove margin default of 8px, to "fill" the screen*/
    border: 0px;
    font-family: Arial;
}

.header,
.content,
.footer {
    display: flex;
    flex: 1;
    /*margin: 0px; /*remove margin default of 8px, to "fill" the screen*/
    border: 0px;
    font-family: Arial;
}
/* HEADER SECTION*/
.header{
    background-color: rgb(73, 18, 246); /*found this with MSpaint, use Eyedropper and select Edit Colors*/
    color: white; /*set color of all text within header class*/
    display: flex;
    flex-direction: row; /*technically redundant, this is the default*/
    align-items: center; /*center Sign-in and Try for free*/    
    padding-bottom: 15%;/*create little gap between header and content*/
}

.headline-1{
    font-size: 40px;
    margin: 0px; /*remove extra spacing between next headline*/
}
.headline-2{
    font-size: 50px;
    margin: 0px;
    font-weight: bold;    
}

.content-column-left-column{
    background-color: rgb(73, 18, 246); 
    display: flex;
    flex: auto;
    flex-direction: column;
    
}

.content-column-right-column{
    background-color: rgb(73, 18, 246); 
    display: flex;
    flex: auto;
    flex-direction: column;
    
}

.footline-1{    
    display: flex;    
    font-size: 10px;
    text-align: left;   
    color: lightgray; /*match the color of the image beneath it*/

}

#button1{ /*removed input filter, went with id instead since buttons are  different)*/
    padding: 5px 20px; /*Make the button "pop" :) */
    font-weight: bold;
    border: 0px; /* remove the 2px of border */
    border-radius: 15px; /* make the button more round */    
}

a:visited {
    color: white; /* change color from default purple to white on already visited links*/
}
a:hover{
    color: gray; /* change color of link on hover to gray*/
}

/* CONTENT SECTION*/

.content {
    display: flex;
    flex: 1;
    color: white; /*set color of all text within content class*/
    
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    
    
}

#button2{   /*Try 5 free sessions button*/
        padding: 20px 10px; /*Make the button "pop" :) */
        font-weight: bold;
        border: 0px; /* remove the 2px of border */
        border-radius: 50px; /* make the button more round */    
        word-wrap: normal; /*tried to get "sessions" to appear on next line :( */
        
}

.left-column {
    background-color: rgb(73, 18, 246);
    
}

.right-column {
    background-color: rgb(73, 18, 246);
}

.right-column-item {
    flex: 1;
    text-align: center;
    
}

/*FOOTER SECTION*/

.footer-top{    
    background-color: rgb(73, 18, 246);
    color: white;
    font-size: 150%;
    display: flex;    
    margin: 0px; /*get rid of white lines around footer-top*/
    flex-direction: row;
    justify-content: space-around; /*move text to center*/    
    padding: 20%; /*give space between footer and content*/
    
}

.footer {
    background-color: rgb(73, 18, 246);
    color: white;
    display: flex;
    flex: 1;
    gap: 0% 5%; /*added to put space between the two footer columns*/

}

.footer-column {
    display: flex;
    flex:1;
    flex-direction: column;        
}

/*h1 {
    font-size: 10em;
}*/