body{
    display: flex
    flex 1;
    margin: 0px; /*remove margin default of 8px, to "fill" the screen*/
    border: 0px;
    font-family: Arial;
}

.header,
.content,
.footer {
    display: flex;
    flex: 1;
    /*margin: 0px; /*remove margin default of 8px, to "fill" the screen*/
    border: 0px;
    font-family: Arial;
}
/* HEADER SECTION*/
.header{
    background-color: rgb(73, 18, 246); /*found this with MSpaint, use Eyedropper and select Edit Colors*/
    color: white; /*set color of all text within header class*/
    display: flex;
    flex-direction: row; /*technically redundant, this is the default*/
    align-items: center; /*center Sign-in and Try for free*/    
    padding-bottom: 15%;/*create little gap between header and content*/
}

.headline-1{
    font-size: 40px;
    margin: 0px; /*remove extra spacing between next headline*/
}
.headline-2{
    font-size: 50px;
    margin: 0px;
    font-weight: bold;
}

.footline-1{    
    display: flex;    
    font-size: 7px;
    text-align: left;    
    justify-content: space-around;
    flex-flow: row wrap;
}

input[type = 'button']{
    padding: 5px 20px; /*Make the button "pop" :) */
    font-weight: bold;
    border: 0px; /* remove the 2px of border */
    border-radius: 15px; /* make the button more round */
}
a:visited {
    color: white; /* change color from default purple to white on already visited links*/
}
a:hover{
    color: gray; /* change color of link on hover to gray*/
}

/* CONTENT SECTION*/

.content {
    display: flex;
    flex: 1;
    color: white; /*set color of all text within content class*/
    
}

.content-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.left-column {
    background-color: rgb(73, 18, 246);
    
}

.right-column {
    background-color: rgb(73, 18, 246);
}

.right-column-item {
    flex: 1;
    text-align: center;
    
}

/*FOOTER SECTION*/

.footer-top{
    text-align: center;
    background-color: rgb(73, 18, 246);
    margin: 0px;
    padding: 20%;
    color: white;
    font-size: 20px;
}

.footer {
    background-color: rgb(73, 18, 246);
    color: white;  

}

.footer-column {
    flex: 1;
    text-align: center;
    
}

.headline-3{
    text-align: justify;
}

/*h1 {
    font-size: 10em;
}*/